aiohttp==3.9.5
aiosignal==1.4.0
annotated-types==0.7.0
attrs==25.4.0
coverage==7.13.2
frozenlist==1.8.0
idna==3.11
iniconfig==2.3.0
multidict==6.7.1
packaging==26.0
pluggy==1.6.0
propcache==0.4.1
pydantic==2.5.0
pydantic_core==2.14.1
pytest==7.4.3
pytest-aiohttp==1.0.5
pytest-asyncio==0.23.8
pytest-cov==4.1.0
PyYAML==6.0.1
typing_extensions==4.15.0
wheel==0.46.3
yarl==1.22.0
